.MovieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.MovieItem__wraper {
  width: 260px;
  height: 100%;
}

.MovieItem__image {
  display: block;
  margin-top: 10px;
  width: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.MovieItem__image:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.MovieItem__title {
  color: #3f51b5;
}

.MovieItem__link {
  text-decoration: none;
}

.MovieItem__link:hover .MovieItem__title,
.MovieItem__link:focus .MovieItem__title {
  color: rgb(231, 90, 177);
}
